.data td{
    width: 33%;
}
#spot-break {
    position: absolute;
    bottom: -26px;
    width: calc(100% - 30px);
    height: 26px;
    background: #f8fafc;
    left: 0;
    right: 0;
    z-index: 1;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    margin: auto;
}
