::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #cacaca;
}
::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a;
}


#navigation::-webkit-scrollbar {
    width: 7px;
}

#navigation::-webkit-scrollbar-track {
    background: #263544;
}

#navigation::-webkit-scrollbar-thumb {
    background: #314356;
}

#navigation::-webkit-scrollbar-thumb:hover {
    background: #3e556d;
}

a{
    text-decoration: none !important;
}
#navigation a{
    color: #b7c0cd !important;
}
#wrapper{
    display: flex;
}

#navigation {
    width: 250px;
    background: #263544;
    height: 100vh;
    color: #b7c0cd;
    overflow: auto;
    position: sticky;
    top: 0;
    left: 0;
}
.nav-menu{
    padding: 15px 15px 15px 25px;
    display: flex;
    align-items: center;
    -webkit-transition: 220ms;
    -moz-transition: 220ms;
    -ms-transition: 220ms;
    -o-transition: 220ms;
    transition: 220ms;
    border-left: 3px solid transparent;
    cursor: pointer;
}
.nav-menu:hover {
    color: #fff;
    background-color: #212e3c;
}
.nav-menu.active{
    background-color: #212e3c;
    color: #fff;
    border-left: 3px solid #42a5f5;
}
.nav-menu i {
    font-size: 21px;
    margin-right: 10px;
}
.nav-header{
    color:#f1f7ff;
    padding: 15px 20px;
}
#app{
    width: calc(100% - 250px);
}

.data{
    width: 100%;
    background-color: #fff;
}
.data tr {
    border: 1px solid #e6e6e6;
}
.data td {
    padding: 10px;
}

.data thead tr td {
    position: sticky;
    top: 80px;
    left: 0;
    box-shadow: 0px 2px 5px -1px #d4d4d4;
    background: #fff;
}

.navbar{
    position: sticky;
    top:0;
    left: 0;
    z-index: 111;
    border-bottom: 1px solid #e3e3e3;
    padding: 27.5px;
}

.navbar-right {
    position: absolute;
    right: 10px;
}

.edit, .delete, .view {
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 220ms;
    -moz-transition: 220ms;
    -ms-transition: 220ms;
    -o-transition: 220ms;
    transition: 220ms;
    display: flex;
    float: left;
    align-items: center;
    margin: 3px 1px;
}
.view i,.edit i, .delete i {
    font-size: 17px;
    margin-right: 3px;
}


.data td img {
    width: 200px;
    height: 100px;
    object-fit: cover;
}

.sl-overlay {
    background: #000 !important;
    opacity: 0.9 !important;
}

.sl-wrapper .sl-close, .sl-wrapper .sl-counter,.sl-wrapper .sl-navigation button{
    color:#fff !important;
}

.card-menu {
    margin: 2px;
    width: 100%;
    display: flex;
    height: 50px;
}

.card-menu div{
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-right: 0;
}

.card-menu div:first-child {
    background: #868686;
    width: 150px;
    justify-content: center;
    color: #fff;
    border: 1px solid #868686;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.card-menu div:last-child {
    background: #f8fafc;
    width: calc(100% - 150px);
    justify-content: flex-start;
    padding-left: 20px;
    border: 1px solid #dedede;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.relative{
    position: relative;
}

.right-seat{
    position: absolute;
    right: 5px;
    top:0;
    bottom:0;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-iconed {
    /* display: flex; */
    align-items: center;
    padding: 5px 20px;
    margin: 0 2px;
}
.btn-iconed i {
    font-size: 21px;
    vertical-align: -5px;
}

.nav-back {
    position: absolute;
    left: 15px;
}

.nav-back i {
    font-size: 22px;
    vertical-align: -6px;
    margin-right: -4px;
    margin-left: -10px;
}

form.slide div input, form.slide div select {
    width: calc(100% - 40px);
    padding: 10px;
    outline: none;
    border: 1px solid #d0d0d0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.input-box {
    position: relative;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
}

.input-box.submit {
    margin-top: 30px;
    margin-right: -1.5px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.input-box label {
    position: absolute;
    top: 0;
    left: 38px;
    padding: 12px;
    pointer-events: none;
    color: #676767;
    transition: 330ms;
}

.input-box input:focus ~ label, .input-box input:valid ~ label, .input-box select:valid ~ label {
    top: -30px;
    left: -11px;
    color: #007bff;
    font-size: 12px;
}

.input-addon {
    width: 40px;
    background: whitesmoke;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    border: 1px solid #d0d0d0;
    border-right: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.input-box.noEntry label {
    top: -25px !important;
    left: -5px;
    font-size: 11px;
    color: #007bff;
}

span.input-addon i {
    color: #5a5a5a;
}

.center {
    text-align: center;
    position: relative;
}

.field-outer {
    width: 100%;
    margin: auto;
}

.image-outer {
    position: relative;
    width: calc(35vw + 250px);
    margin: auto;
    margin-bottom: 25px;
    max-width: 100%;
}

.image-outer span {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #00000085;
    width: 100%;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.image-outer img {
    width:100%;
    cursor: pointer;
}

.sl-wrapper .sl-image .sl-caption{
    text-align: center;
    padding: 15px  !important;
}


.audio-toggle {
    font-size: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    color: #263544;
    -webkit-transition: 220ms;
    -moz-transition: 220ms;
    -ms-transition: 220ms;
    -o-transition: 220ms;
    transition: 220ms;
}

.audio-toggle:hover {
    color:#141d25;
}

.input-group-header {
    padding: 10px 0;
    color: #263544;
}

.hidden{
    display: none;
}

span#add-question {
    cursor: pointer;
    background: #009688;
    color: #fff;
    padding: 6px 11px;
    -webkit-transition: 220ms;
    -moz-transition: 220ms;
    -ms-transition: 220ms;
    -o-transition: 220ms;
    transition: 220ms;
}

span#add-question:hover {
    background: #04756b;
}

.file-input {
    border: 1px solid #d0d0d0;
    height: 45px;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    background: white;
    cursor: pointer;
    -webkit-transition: 220ms;
    -moz-transition: 220ms;
    -ms-transition: 220ms;
    -o-transition: 220ms;
    transition: 220ms;
    padding-left: 10px;
}
.file-input:hover {
    background: #efefef;
}
.file-input.content-added{
    width: calc(100% - 100px);
}

.preview {
    width: 60px;
    height: 45px;
    background: white;
    position: relative;
    border: 1px solid #d0d0d0;
    border-left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.preview:hover {
    background: #efefef;
}

.preview img {
    width: 58px;
    height: 43px;
    object-fit: cover;
}


.relative{
    position: relative;
}

.container-fliud{
    width: calc(25vw + 25% + 250px);
}

.flex{
    display: flex;
}

.dashboard-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.dashboard-menu {
    background: white;
    width: calc(10vw + 10% + 100px);
    padding: 15px 20px;
    box-shadow: 0px 0px 14px -6px;
    display: inline-block;
    margin: 15px;
    text-align: left;
    font-family: Verdana;
    position: relative;
    -webkit-transition: 220ms;
    -moz-transition: 220ms;
    -ms-transition: 220ms;
    -o-transition: 220ms;
    transition: 220ms;
}

.dashboard-menu-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

.dashboard-menu-header i {
    font-size: 40px;
    color: #F44336;
}

.dashboard-menu-header div {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 35px;
    width: auto;
    font-size: 25px;
}

.dashboard-menu-body {
    font-size: 13px;
    margin-top: 10px;
    color: #9e9e9e;
    padding: 10px;
}

.dashboard-menu-body i {
    font-size: 18px;
    margin-right: 3px;
    vertical-align: -4px;
}

.dashboard-menu:hover{
    -webkit-box-shadow: 0 0 14px -4px;
    -moz-box-shadow: 0 0 14px -4px;
    box-shadow: 0 0 14px -4px;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
}



.color-info{color:#17a2b8 !important;}
.color-danger{color:#dc3545 !important;}
.color-dark{color:#343a40 !important;}
.color-success{color:#28a745 !important;}
.color-primary{color:#007bff !important;}
.color-warning{color: #ffc107 !important;}



@media screen and (max-width: 1000px){
    table#question .edit, table#question .delete {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .dashboard-menu {
        width: calc(20vw + 15% + 135px);
    }
}



#question.data td:first-child{
    width: 200px;
}
#question.data td:nth-child(2){
    width: calc(100% - 615px);
}
#question.data td:nth-child(4){
    width: 115px;
    text-align: center;
}
#question.data td:last-child{
    width: 300px;
}

#category.data td:first-child{
    width: 200px;
}
#category.data td:nth-child(2){
    width: 50px;
    text-align: center;
}
#category.data td:nth-child(3){
    width: 40px;
    text-align: center;
}
#category.data td:last-child{
    width: 200px;
}

#spot-break {
    position: absolute;
    bottom: -26px;
    width: calc(100% - 30px);
    height: 26px;
    background: #f8fafc;
    left: 0;
    right: 0;
    z-index: 1;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    margin: auto;
}

span.delete-question {
    color: white;
    background: #F44336;
    vertical-align: -6px;
    margin-left: 4px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: 220ms;
    -moz-transition: 220ms;
    -ms-transition: 220ms;
    -o-transition: 220ms;
    transition: 220ms;
}

span.delete-question:hover {
    background: #c13329;
}


#category.data td{
    width: 33%;
}

#user.data td{
    width: 25%;
}
#spot-break {
    position: absolute;
    bottom: -26px;
    width: calc(100% - 30px);
    height: 26px;
    background: #f8fafc;
    left: 0;
    right: 0;
    z-index: 1;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    margin: auto;
}

.dropdown-not {
    width: calc(100% - 40px);
    display: inline-block;
    background-color: #fff;
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    text-align: left;
    outline: none;
    border: 1px solid #d0d0d0;
    height: 45px;
}

.dropdown-not .select {
    cursor: no-drop;
    display: block;
    padding: 10px;
}

.nav-back.second {
    left: 110px;
}
